.mainFont {
    font-family: "Helvetica Neue LT Arabic";
    src: url("assets/fonts/HelveticaNeueLTArabic-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
